// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-weight: lighter;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  display: flex;
}

div p {
  margin: 0;
}

.container {
  width: fit-content;
}

.header {
  display: flex;
  justify-content: space-between;
}

.form-box {
  background-color: #e6e5e1;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 16px;
}

.form-title {
  width: 150px;
  border-radius: 4px;
  margin: 4px 0;
}

.form-details {
  width: 300px;
  height: 50px;
  border-radius: 4px;
  margin: 8px 0;
  display: flex;
  align-items: top;
}

.box {
  width: 500px;
  height: 80px;
  background-color: #cee3f1;
  border: .5px solid grey;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0,0,0,.1);
  padding: 10px;
  margin-bottom: 20px;
}

.checkbox {
  display: flex;
  margin-bottom: 10px;
}

#edit {
  display: flex;
  align-items: center;
}
